body {
    margin-top: 50px;
    margin-left: 50px;
}

#exemplo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 20px;
    border: 1px solid #000;
    
}

.verde {
    background-color: #00FF00;
}

.vermelho {
    background-color: #FF0000;
}

.azul {
    background-color: #00F;
}
